<h1> Book A SlimRide</h1>

<div class="jumbotron">
	<div id="one", class="btn btn-lg">Book Seats</h2></div>
	<div id="one", class="btn btn-lg">Book A Cab</h2></div>
	<% if user_signed_in? %>
		# do something
	<% else %>
		<p>	
			<%= link_to "Log In", new_user_session_path, class: "btn btn-default" %> 
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> 
		</p>
	<% end %>

<div>
