<h1> Book A SlimRide</h1>


	<div class="jumbotron">
		<div id="one", class="btn btn-lg">Book Seats</h2></div>
		<div id="one", class="btn btn-lg">Book A Cab</h2></div>
		
	</div>
<div class = "row">
	<div class="col-xs-6 col-md-4">Book Seats</div>
</div>


